@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    padding: 0;
    margin: 0;
    /* overflow:hidden; */
    box-sizing: border-box;
    font-family: 'Ubuntu';
    color: #fff;
    /* background: #02112e; */
}
body{
    overflow: hidden;
}
::-webkit-scrollbar{
  background:#02112e;
  width:5px;
  position: absolute;
}
::-webkit-scrollbar-thumb{
  background:#ff0063;
}
html{
    font-size: 10px;
    /* font-family: 'Poppins', 'Times New Roman', Times, serif ; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    background: #02112e;
}
.page-header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6rem;
    width: 100%;
    background: #f7f7f7;
    z-index: 5;
  }
  .page-header > .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            /* border:1px solid red; */
    margin: 0 auto;
    width: 80%;
  }
  .page-header > .header-content .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .page-header > .header-content .logo > img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-header > .header-content > #hamburger-checkbox {
    display: none;
  }
  .page-header > .header-content > .hamburger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 2;
    width: 3rem;
    height: 3rem;
  }
  .page-header > .header-content > .hamburger > .line {
    width: 100%;
    height: 0.25rem;
    background: #000;
  }
  .page-header > .header-content > nav {
    position: absolute;
    /* border:1px solid green; */
    top: 0;
    right: -100%;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .page-header > .header-content > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto 0;
    list-style: none;
  }
  .page-header > .header-content > nav > ul > li {
    margin: 0.8rem 0;
  }
  .page-header > .header-content > nav > ul > li > a {
    color: #111;
    font-size: 2rem;
    padding: 0 2rem;
    text-decoration: none;
  }
  .page-header > .header-content .page-shader {
    display: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
    background: rgba(0, 0, 0, 0.3764705882);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }
  .page-header > .header-content > #hamburger-checkbox:checked ~ nav {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 2rem;
    height: 100vh;
    width: 50vw;
    z-index: 1;
    background: #dedede;
  }
  
  @media screen and (min-width: 800px) {
    .page-header > .header-content > .hamburger {
      display: none;
    }
    .page-header > .header-content > nav {
      position: static;
    }
    .page-header > .header-content > nav > ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .page-header > .header-content > nav > ul > li {
      margin: 0 0.8rem;
    }
    .page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
      display: none;
    }
    .page-header > .header-content > #hamburger-checkbox:checked ~ nav {
      background: transparent;
      height:auto;
      display: flex;
      justify-content: flex-end;
      padding:0;
    }
  }
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-image: url();
}
.card ul{
    list-style-type: none;
    display: none;
    justify-content: space-around;
    height: 100px;
    padding-top: 40px;
    box-sizing: border-box;
}
.card:hover ul{
    display: flex;
}
.card ul li img{
    height: 20px;
    width: 20px;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#presentation{
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
@media screen and (min-width: 800px){
   #presentation h1{
     font-size: 8rem;
}}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #D61C4E;
    background-color: transparent;
    border: 2px solid #D61C4E;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #D61C4E;
}
.cta{
    opacity:0;
    animation:fade-in 4s linear 3s 1 forwards;
}
@keyframes fade-in{
    100%{
        opacity:1;
    }
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #FEB139;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    /* background-color:black; */
    opacity: 0.5;
    z-index: -1;
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: #FEB139;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}
.intro{
    position:relative;
    /* height:55vh; */
    width:100%;
    padding:50px;
    /* border:1px solid yellow; */
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    background: none;
    
    /* gap:80vh; */
    /* padding-left: 70px; */
}
@media screen and (min-width: 800px){
    .intro{
        grid-template-columns: repeat(auto-fill, minmax(700px, auto));
        column-gap: 200px;
    }
}
.grid-item1{
    /* border:1px solid yellow; */
    width:100%;
    /* column-gap: ;
    display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(450px, auto)); */
}
.intro h1{
    color:white;
    font-size: 4.3rem;
    padding-bottom: 40px;
    height: 60px;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
}
.intro p{
    color: #D61C4E;
    width:100%;
    height: auto;
    white-space: break-word;
    margin-top: 0px;
    font-size: 2rem;
    /* border:1px solid yellow; */
    padding:0;
    padding-bottom: 60px;
}
.card {
    width: 280px;
    position: relative;
    height:400px;
    /* position: absolute; */
    background: #f0f0f0;
    /* bottom:110px; */
    opacity:1;
    /* right:60px; */
    /* box-shadow: 20px 20px 200px 4px rgba(0, 0, 0, 0.623); */
    /* z-index: 2; */
    border-radius: 10px;
    text-align: center;
    /* transition: all 3s ease-out; */
}
@media screen and (min-width: 800px){
  .card{
    width:400px;
  }
}
/* .active{
    animation: slide 3s linear 1 forwards ;
   }
   @keyframes slide {
     100%{
        opacity:1;
    } */
   /* } */
   .card:hover {
    /* box-shadow: 20px 20px 200px 4px rgba(0, 0, 0, 0.623); */
    background-color: #02112e;
   }
   .card .blob{
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: #02112e;
    visibility: visible;
    transition: all 0.3s;
   }
   .card:hover .blob {
    height: 0;
    color: black;
   }
   .card .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 250px;
    height: 250px;
    background:url(./bimpe-profile-pic);
    border-radius: 50%;
    background-size:100%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   .card:hover .img {
    width: 100%;
    height: 70%;
    border-radius: 10px 0 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    z-index: 3;
   }
   .card h2 {
    padding: 15px 10px;
    font-size: 25px;
    transition: all 0.1s;
    background:none;
    z-index: -99;
    line-height: 17px;
    color: black;
   }
   .card h2 span{
    background:none;
    color: black;
   }
   .card span {
    font-size: 18px;
   }
   .card:hover h2 {
    display:none;
    background:#02112e;
    width: 100%;
    /* position: absolute; */
    transition: all 0.5s;
   }
   .card>p {
    opacity: 1;
    width: auto;
    transition: all 0.75s;
   }
   .card:hover>p {
    /* position: absolute; */
    bottom: 15px;
    left: 90px;
    opacity: 1;
    transition: all 0.1s;
    width: auto;
   }

.offer-section{
    display:grid;
    /* padding:30px; */ 
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
@media screen and (min-width: 800px){
    .offer-section{
        padding: 0 100px;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        column-gap: 20px;
    }
}
.what-i-offer-header{
  text-align:center;
    font-size:6em;
    padding:1.5em;
    /* white-space: nowrap; */
}
a.box {
	color: #fff;
  margin:10px;
	/* background-color: #2f9b9b; */
    background-color: #ff0063;
	display: block;
	width: 340px;
	height: 450px;
    border-radius: 40px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
}
@media screen and (min-width: 800px){
  a.box{
    /* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
    width:400px
  }
}
code{
    color:#02112e;
    font-weight: 800;
}
.content {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
	padding: 0 4em;
	z-index: 2;
	/* height: 3em; */
	transition: all 1s ease;
}

a:hover .content {
	/* height: 8em; */
	transition: all 1s ease;
}

.content h2 {
	font-size: 2.3em;
    text-align: center;
    /* white-space: nowrap; */
    /* letter-spacing: -1px; */
	font-weight: normal;
    color:#FEB139;
	margin: 20px;
}
.content img{
    display:block;
    height:290px
}
.content:hover img{
    display:none;
}
.content p {
	height: 0;
	opacity: 0;
	visibility: hidden;
	margin: 5px;
    font-size: 1.8em;
	line-height: 1.5em;
	
}

a:hover p{
	height: 3em;
	opacity: 1;
    color:red;
	visibility: visible;
	transition: all .2s ease;
}

.link {
	height: 1.5em;
	line-height: 1.5;
	transition: all .2s ease;
	display: block;
	font-size: 0.85em;
	font-style: italic;
}

.tile { 
  height:400px; 
  margin-top:40px; 
  /* background:grey;  */
  -webkit-transform: translateY(50px); 
  transform: translateY(200px); 
  -webkit-transition-delay: .3s; 
  -o-transition-delay: .3s; 
  transition-delay: .3s; 
  -webkit-transition: .4s; 
  -o-transition: .4s; 
  transition: 2s ; 
   
  opacity: 0; 
  /* -webkit-filter: grayscale(1);  */
  /* filter: grayscale(1);  */
} 
.inView { 
  opacity: 1; 
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0); 
  transform: translateY(0px) rotate(0deg) translateZ(0); 
} 

a:hover .link {
	transition: all .2s ease;
}


 
 
  main{
    width:90%;
  }
  main h1{
    color:white;
    text-align: center;
    font-size: 45px;
    padding: 45px 0 80px 0;
    text-shadow:4px 4px 8px  black;
  }
  .project{
    /* height:150vh; */
    width:100%;
    margin: auto;
    padding:30px;
    margin-bottom: 60px;
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    gap:8em;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }

  @media screen and (min-width: 800px){
    .project{
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
  }
  /* .box5{
    grid-column-start: 1;
    grid-column-end: 3;
    width:50%;
    justify-self: center;
    grid-row-start: 3;
    grid-row-end: 4;     */
  .box1,.box2,.box3,.box4,.box5{
    margin-left: 1px;
    height:400px;
    width:320px;
  }
  @media screen and (min-width: 800px){
    .box1,.box2,.box3,.box4,.box5{
  width:500px;
  margin:auto;
    }
  }
  main h2{
    color:white;
    text-align: center;
    font-size: 35px;
    padding:50px;
  }  
main button { 
    padding: 0.5em 1em;
    height: 50px;
    outline: none;
    margin:auto;
    border: 1px solid #D61C4E;
    color: #D61C4E;
    text-transform:none;
    letter-spacing: 2px;
    font-size: 2rem;
    overflow: hidden;
    transition: 0.2s;
    /* border-radius: 20px; */
    cursor: pointer;
    font-weight: bold;
    /* transform: translateX(42vw); */
   }
   
  main button:hover {
    color: white;
    font-weight: 500;
    background-color: #ff0063;
   }
hr{
    height:0.1px;
    opacity:0.4;
}
main a{
    font-size: 3em;
    background: none;
}

aside h1{
    padding:40px;
    color:white;
    text-align: center;
    font-size: 35px;
}
aside button{
    display: inline-block;
    padding: 10px 30px;
    color: #ff0063;
    background-color: transparent;
    border: 2px solid #ff0063;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin:auto;
    /* transform: translateX(40vw); */
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
  
  }
  aside button:hover{
    color: white;
    font-weight: 500;
    background-color: #ff0063;
  }
  form{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin:auto;
    justify-content: center;
    /* border:1px solid yellow; */
    width:100%;
    padding:0 50px;
  }
  @media screen and (min-width: 800px){
    form{
        width:50%;
    }
  }
  aside input{
    display:block;
    outline:none;
    border:1px solid #ff0063;
  }
  aside h3{
    color:white;
    font-size: 20px;
    padding:0;
  }
  aside input{
    height:50px;
    resize: both;
    font-size: 30px;
    color:white;
  }
aside input::placeholder{
    font-size: 30px;
    color:#000;
}
aside button{
    width:200px;
    margin:auto;
    padding:10px;
    height:auto;
}
.button-section{
    display:flex;
    justify-content: center;
}
main button a{
    font-size: 1.5em;
}
.box1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%  80%;
    position: relative;
}
.box2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%  80%;
}
.box3{
    border:1px solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%  100%;
}
.box4{
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box5{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%  100%;
}
.footer-distributed {
    background-color: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span {
    color: #5383d3;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }
  